# Application
web/content/plugins/*
!web/content/plugins/.gitkeep
web/content/mu-plugins/*/
web/content/upgrade
web/content/uploads/*
!web/content/uploads/.gitkeep

# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Node
node_modules/
web/content/themes/theme/dist/
web/content/db.php
